version: '3.8'

services:
  sound-classifier:
    build:
      context: .
      dockerfile: services/sound-classifier/Dockerfile
    container_name: sound_classifier
    volumes:
      - ./shared:/app/shared
    ports:
      - "8001:8001"
    env_file:
      - .env
    restart: always

  transcription-service:
    build:
      context: .
      dockerfile: services/transcription-service/Dockerfile
    container_name: transcription_service
    volumes:
      - ./shared:/app/shared
      - whisper-models:/root/.cache/huggingface
    ports:
      - "8002:8002"
    env_file:
      - .env
    restart: always

volumes:
  whisper-models: